on:
  push:
    branches: [main, master]

name: "Run BehaviorSpace Experiments"

permissions: read-all

jobs:
  run-experiments:
    runs-on: ubuntu-latest
    name: Run Experiments
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup NetLogo
        uses: ./setup-netlogo # danielvartan/netlogo-actions/setup-netlogo@v1

      - name: Create Artifacts Directory
        run: |
          # Create Artifacts Directory
          mkdir -p /tmp/artifacts

      - name: Run Experiment 1
        run: |
          # Run Experiment 1
          model_dir="$NETLOGO_HOME/models/Sample Models/Biology"
          model_file="Wolf Sheep Predation.nlogox"
          experiment_name="Wolf Sheep Crossing"
          table_file="/tmp/artifacts/experiment-1-table.csv"

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"

      - name: Upload Experiment 1 Artifact
        uses: actions/upload-artifact@v4
        with:
          name: experiment-1-output
          path: /tmp/artifacts/experiment-1-table.csv
          retention-days: 90

      - name: Run Experiment 2
        run: |
          # Run Experiment 2
          model_dir="$NETLOGO_HOME/models/Curricular Models/GenEvo"
          model_file="Synthetic Biology - Genetic Switch.nlogox"
          experiment_name="Sample-Experiment"
          table_file="/tmp/artifacts/experiment-2-table.csv"

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"

      - name: Upload Experiment 2 Artifact
        uses: actions/upload-artifact@v4
        with:
          name: experiment-2-output
          path: /tmp/artifacts/experiment-2-table.csv
          retention-days: 90

      - name: Run Experiment 3
        run: |
          # Run Experiment 3
          model_dir="$NETLOGO_HOME/models/IABM Textbook/chapter 6"
          model_file="Spread of Disease.nlogox"
          experiment_name="population-density"
          table_file="/tmp/artifacts/experiment-3-table.csv"

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"

      - name: Upload Experiment 3 Artifact
        uses: actions/upload-artifact@v4
        with:
          name: experiment-3-output
          path: /tmp/artifacts/experiment-3-table.csv
          retention-days: 90

      - name: Run Experiment 4
        run: |
          # Run Experiment 4
          model_dir="$NETLOGO_HOME/models/IABM Textbook/chapter 7"
          model_file="Voting Sensitivity Analysis.nlogox"
          experiment_name="sensitivity-experiment"
          table_file="/tmp/artifacts/experiment-4-table.csv"

          netlogo \
            --headless \
            --model "$model_dir/$model_file" \
            --experiment "$experiment_name" \
            --table "$table_file"

          cat "$table_file"

      - name: Upload Experiment 4 Artifact
        uses: actions/upload-artifact@v4
        with:
          name: experiment-4-output
          path: /tmp/artifacts/experiment-4-table.csv
          retention-days: 90

      - name: Run Experiment 5
        run: |
          # Run Experiment 5
          model_dir="$NETLOGO_HOME/models/Curricular Models/BEAGLE Evolution"
          model_file="Red Queen.nlogox"
          experiment_name="Final Counts"
          table_file="/tmp/artifacts/experiment-5-table.csv"

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"

      - name: Upload Experiment 5 Artifact
        uses: actions/upload-artifact@v4
        with:
          name: experiment-5-output
          path: /tmp/artifacts/experiment-5-table.csv
          retention-days: 90
