on:
  push:
    branches: [main, master]

name: run-experiment.yaml
permissions: read-all

jobs:
  run-experiments:
    name: Run experiments
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up NetLogo
        uses: danielvartan/logoactions/setup-netlogo@v1

      - name: Create artifacts directory
        id: artifacts-dir
        run: |
          # Create artifacts directory

          artifacts_dir="${RUNNER_TEMP}/artifacts"
          mkdir -p "${artifacts_dir}"

          echo "path=${artifacts_dir}" >> "${GITHUB_OUTPUT}"
        shell: bash

      - name: Run experiment 1
        run: |
          # Run experiment 1

          artifacts_dir="${{ steps.artifacts-dir.outputs.path }}"
          model_dir="${NETLOGO_HOME}/models/Sample Models/Biology"
          model_file='Wolf Sheep Predation.nlogox'
          experiment_name='Wolf Sheep Crossing'
          table_file="${artifacts_dir}/experiment-1-table.csv"

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"
        shell: bash

      - name: Run experiment 2
        run: |
          # Run experiment 2

          artifacts_dir="${{ steps.artifacts-dir.outputs.path }}"
          model_dir="${NETLOGO_HOME}/models/Curricular Models/GenEvo"
          model_file='Synthetic Biology - Genetic Switch.nlogox'
          experiment_name='Sample-Experiment'
          table_file="${artifacts_dir}/experiment-2-table.csv"

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"
        shell: bash

      - name: Run experiment 3
        run: |
          # Run experiment 3

          artifacts_dir="${{ steps.artifacts-dir.outputs.path }}"
          model_dir="${NETLOGO_HOME}/models/IABM Textbook/chapter 6"
          model_file='Spread of Disease.nlogox'
          experiment_name='population-density'
          table_file="${artifacts_dir}/experiment-3-table.csv"

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"
        shell: bash

      - name: Run experiment 4
        run: |
          # Run experiment 4

          artifacts_dir="${{ steps.artifacts-dir.outputs.path }}"
          model_dir="${NETLOGO_HOME}/models/IABM Textbook/chapter 7"
          model_file='Voting Sensitivity Analysis.nlogox'
          experiment_name='sensitivity-experiment'
          table_file="${artifacts_dir}/experiment-4-table.csv"

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"
        shell: bash

      - name: Run experiment 5
        run: |
          # Run experiment 5

          artifacts_dir="${{ steps.artifacts-dir.outputs.path }}"
          model_dir="${NETLOGO_HOME}/models/Curricular Models/BEAGLE Evolution"
          model_file='Red Queen.nlogox'
          experiment_name='Final Counts'
          table_file="${artifacts_dir}/experiment-5-table.csv"

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"
        shell: bash

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: experiments-output
          path: ${{ steps.artifacts-dir.outputs.path }}
          retention-days: 90
