on:
  push:
    branches: [main, master]

name: "check-netlogo" # Do not change!
permissions: read-all

jobs:
  test-check-netlogo:
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, version: 'release'}
          - {os: macos-latest, version: 'release'}
          - {os: ubuntu-latest, version: 'release'}
    name: "${{ matrix.config.os }} (${{ matrix.config.version }})"
    runs-on: ${{ matrix.config.os }}
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions: read-all
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up NetLogo
        uses: danielvartan/netlogo-actions/setup-netlogo@v1
        with:
          version: ${{ matrix.config.version }}
          cache: 'true'

      - name: Check NetLogo models
        uses: ./check-netlogo
